// CSS 文字
// 如果由于某种原因 Stylus 无法满足特定需求，可以随时使用文字 CSS @css
@css{
  body{
    border: blue
  }
}

// Stylus 透明地支持常规 CSS 样式语法。
// 意味着不需要其他解析器，也不需要指定文件使用特定样式,甚至可以混合搭配

// 注意事项：由于两种样式可以修改混合搭配，因此某些缩进规则仍然适用。
// 虽然并非每个纯 CSS 样式表都可以在相应情况下工作，
// 但此功能允许那些喜欢 CSS 语法的人继续这样做，同时利用 Stylus 的其他强大功能