// 哈希对象
// 可以使用花括号和冒号来定义哈希以划分键和值
message={
  '0':'a',
  'B':b
}
// 键应该是正确的标识或字符串
// 已经有一个哈希时，可以使用里面的括号和字符串来设置它的值
message['0']=1
bar='B'
message[bar]='B'

//匿名哈希: 可以为列表创建匿名哈希对象，一种没有变量名的对象
list = foo {int: 1, str: '1'} {node: a-node, color: #32E}
list[0]
// => foo
type(list[0])
// => 'ident'
type(list[1])
// => 'object'
list[1].int
// => 1
list[2].color
// => #32E

// Getters: 要从哈希表中检索值，可以使用点作为标识或者用括号括起任何字符串

//插值: 插值中使用的哈希值会将哈希值的内容输出为 CSS（尽管几乎没有任何 Stylus 功能）