// Stylus 允许通过构造来迭代表达式for/in，其形式如下：
// for <val-name> [, <key-name>] in <expression>

body
  for num in 1 2 3
    foo num

body
  fonts = Impact Arial sans-serif
  for font, i in fonts
    foo i font

// Mixins: 可以在 mixin 中使用迭代来产生强大的功能。
// 例如，可以使用插值和迭代将表达式对应用为属性。
apply(props)
  props = arguments if length(arguments) > 1  // ?
  for prop in props
    {prop[0]} prop[1]

body
  apply(one 1, two 2, three 3)

body
  list = (one 1) (two 2) (three 3)
  apply(list)

// 功能: Stylus 函数也可能包含 for 循环
sum(nums)
  sum = 0
  for n in nums
    sum += n

sum(1 2 3)
// => 6
