/*
.
[]
! ~ + -
is defined
** * / %
+ -
... ..
<= >= < >
in
== is != is not isnt
is a
&& and || or
?:
= := ?= += -= *= /= %=
not
if unless
*/
body {
  foo1: 5em;
  foo2: 5%;
  foo3: 10%;
  foo4: 25px;
  foo5: 10%;
  foo6: 95deg;
}
